files:
    "/sbin/appstart" :
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            systemctl dameon-reload
            systemctl start node_exporter
            systemctl enable node_exporter
            systemctl start prometheus
            systemctl enable prometheus
            systemctl start grafana-server
            systemctl enable node_exporter
            sudo systemctl enable grafana-server
            kill `ps -ef | grep match-dev-api | awk '{print $2}'`
            java -Dspring.profiles.active=dev -Dfile.encoding=UTF-8 -jar /var/app/current/winey-dev-api.jar
