packages:
  yum:
    wget: []
    unzip: []

commands:
  01_download_promtail:
    command: |
      wget https://github.com/grafana/loki/releases/download/v2.2.1/promtail-linux-amd64.zip -O /tmp/promtail-linux-amd64.zip
      unzip /tmp/promtail-linux-amd64.zip -d /tmp
      mv /tmp/promtail-linux-amd64 /usr/local/bin/promtail
      chmod +x /usr/local/bin/promtail

files:
  "/etc/promtail/promtail-config.yaml":
    content: |
      server:
        http_listen_port: 9080
        grpc_listen_port: 0

      positions:
        filename: /tmp/positions.yaml

      clients:
        - url: http://grafana.winey.shop:3100/loki/api/v1/push

      scrape_configs:
        - job_name: beanstalk
          static_configs:
            - targets:
                - localhost
              labels:
                job: beanstalk
                __path__: /var/log/webstd.out
    mode: "000644"
    owner: root
    group: root

  "/etc/systemd/system/promtail.service":
    content: |
      [Unit]
      Description=Promtail service
      After=network.target

      [Service]
      ExecStart=/usr/local/bin/promtail -config.file=/etc/promtail/promtail-config.yaml
      Restart=always

      [Install]
      WantedBy=multi-user.target
    mode: "000644"
    owner: root
    group: root

commands:
  02_enable_promtail:
    command: |
      systemctl daemon-reload
      systemctl enable promtail
      systemctl start promtail
