packages:
  yum:
    wget: []
    unzip: []

commands:
  01_download_promtail:
    command: |
      echo "Downloading Promtail..."
      wget https://github.com/grafana/loki/releases/download/v2.2.1/promtail-linux-amd64.zip -O /tmp/promtail-linux-amd64.zip
      echo "Unzipping Promtail..."
      unzip /tmp/promtail-linux-amd64.zip -d /tmp
      echo "Moving Promtail to /usr/local/bin..."
      mv /tmp/promtail-linux-amd64 /usr/local/bin/promtail
      echo "Setting permissions..."
      chmod +x /usr/local/bin/promtail
      echo "Promtail installation completed."

files:
  "/etc/promtail/promtail-config.yaml":
    content: |
      server:
        http_listen_port: 9080
        grpc_listen_port: 0

      positions:
        filename: /tmp/positions.yaml

      clients:
        - url: http://grafana.winey.shop:3100/loki/api/v1/push

      scrape_configs:
        - job_name: beanstalk
          static_configs:
            - targets:
                - localhost
              labels:
                job: beanstalk
                env: prod  # 환경 레이블 추가
                __path__: /var/log/webstd.out
    mode: "000644"
    owner: root
    group: root

  "/etc/systemd/system/promtail.service":
    content: |
      [Unit]
      Description=Promtail service
      After=network.target

      [Service]
      ExecStart=/usr/local/bin/promtail -config.file=/etc/promtail/promtail-config.yaml
      Restart=always

      [Install]
      WantedBy=multi-user.target
    mode: "000644"
    owner: root
    group: root

container_commands:
  02_enable_promtail:
    command: |
      systemctl daemon-reload
      systemctl enable promtail
      systemctl start promtail
